# Зависимости
node_modules/

# Сборка Next.js
.next/
out/
build/

# База данных (SQLite)
# Если хочешь, чтобы база была пустой в гите, игнорируй .db файл
*.db
*.db-journal

# Секреты и логи
.env
.env.local
*.log
npm-debug.log*

# Прочее
.DS_Store